*{
	margin:0;
	padding:0;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 14px;
	font-weight: normal;
}

.container {
	position: absolute;
	height:350px;
	width:300px;
	top:7%;
	border-radius: 20px;
	padding: 50px;
}

.social {
	position: absolute;
	left:70%;
	top:10%;
}
